.popup__close-button {
  background-image: url("../../../images/close-button/CloseIcon.svg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  width: 32px;
  height: 32px;
  margin: 0px;
  position: absolute;
  top: -42px;
  right: -40px;
  border: 0;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 0;
    top: -40px;
    }
} 