.logo {
  display: block;
  background-image: url(../../images/logo.svg);
  max-width: 145px;
  width: 100%;
  height: 33px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 45px 0 41px 0;
}

@media screen and (max-width: 768px) {
  .logo {
      max-width: 110px;
      height: 24.5px;
      margin: 28px auto 31.6px 27px;
    }
}