.card__like {
  background-image: url("../../../images/group/disable.svg");
  background-size: cover;
  background-position: center;
  width: 22px;
  height: 19px;
  margin: 30px 23px 30px auto;
  background-color: transparent;
  border: 0px;
  padding: 0;
}

.card__like:hover {
  opacity: 0.5;
  cursor: pointer;
}